body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background: #f2f2f2;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
.container {
  text-align: center;
}
.rand-button {
  padding: 10px;
  font-size: 1.4em;
  border: solid 1px black;
  background: #6441a5;
  color: #fff;
}
.rand-button:hover {
  background: #7550ba;
}

iframe {
  border: 1px solid #dedede;
}

iframe.video {
  border-right: none;
}

iframe.chat {
  border-left: none;
}

" vim: ts=2:sts=2:sw=2:expandtab
